/* This makes the container size */
.card {
  width: 200px;
  height: 250px;
  margin: 20px;
}

/* 1st line and keeps everything "Responsive" */
.box1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  align-content: space-around;
}

/* 2nd line and keeps everything "Responsive" */
.box2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  align-content: space-around;
}


/* Makes it pretty c;*/
h1 {
  text-align: center;
}


.card__front,
.card__back {
  width: 200px;
  height: 250px;
  position: absolute;
  border: 1px solid black;
}

.card__front {
  background-image: url("../assets/Pokemon-card-back.png");
  background-size: 200px 250px;
}

.card__back {
  background-image: url("../assets/charizard.png"); 
  background-size: 200px 250px;

  }
