/* This makes the container size */
.card {
  width: 200px;
  height: 250px;
  margin: 20px;
}

/* 1st line and keeps everything "Responsive" */
.box1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  align-content: space-around;
}

/* 2nd line and keeps everything "Responsive" */
.box2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-flow: row nowrap;
  align-content: space-around;
}


/* Makes it pretty c;*/
h1 {
  text-align: center;
}


.card__front,
.card__back {
  width: 200px;
  height: 250px;
  position: absolute;
  border: 1px solid black;
}

.card__front {
  background-size: 200px 250px;
  width: 100%;
  height: 100%;
}

.card__back {
  background-size: 200px 250px;
  width: 100%;
  height: 100%;
  }

.back {
  width: 100%;
  height: 100%;
}

.front {
  width: 100%;
  height: 100%;
}

.front, .back {
  backface-visibility: hidden;
  transition: transform 0.3s;
  position: absolute;
}

.front {
  transform: rotateY(-180deg);
  position: absolute;
  top: 0px;
  left: 0px; 
}